/* .textarea-1 {
    padding-top: 40px;
    padding-left: 80px;
    height: 50px;
    width: 50px;
    /* background: aqua; */
    /* font-size: xx-large; */

    .title {
        padding-top: 30px;
        padding-left: 515px;
        color: rgb(247, 115, 115);
        font-size: 50px;
    }

    .second-word-formatting {
        color: rgb(243, 243, 98);
    }

    .rating {
        color: whitesmoke;
    }

    .container-1 {
        padding-top: 280px;
        padding-right: 100px;
        padding-bottom: 50px;
    }

    .textarea-1 {
        background-color:rgb(3, 75, 72);
        width: 400px;
        height: 350px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border: 5px solid rgb(101, 206, 238);
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .textarea-2 {
        background-color:rgb(3, 75, 72);
        width: 400px;
        height: 350px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border: 5px solid rgb(101, 206, 238);
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .container-2 {
        padding-top: 280px;
        padding-left: 100px;
        padding-bottom: 50px;
    }

    .textarea-3 {
        background-color:rgb(3, 75, 72);
        width: 400px;
        height: 350px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border: 5px solid rgb(101, 206, 238);
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .textarea-4 {
        background-color:rgb(3, 75, 72);
        width: 400px;
        height: 350px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border: 5px solid rgb(101, 206, 238);
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }