.Sign-title {
    position:absolute;
    left: 580px; 
    top:170px;
    font-size: 50px;
    color: rgb(46, 207, 212);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.name {
    position:absolute;
    left: 525px; 
    top:250px;
    size:"18";
    width: 300px;
    box-sizing: border-box;
    border: 2px solid rgb(117, 245, 127);
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
}

.uname {
    position:absolute;
    left: 525px; 
    top:300px;
    size:"18";
    width: 300px;
    box-sizing: border-box;
    border: 2px solid rgb(117, 245, 127);
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
}

/* .icon-1 {
    position:absolute;
    left: 625px; 
    top:600px;
} */

.email {
    position:absolute;
    left: 525px; 
    top:350px;
    size:"18";
    width: 300px;
    box-sizing: border-box;
    border: 2px solid rgb(117, 245, 127);
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
}

.password {
    position:absolute;
    left: 525px; 
    top:400px;
    size:"18";
    width: 300px;
    box-sizing: border-box;
    border: 2px solid rgb(117, 245, 127);
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
}

.submit {
    position:absolute;
    left: 625px; 
    top:450px;
    font-family:'Times New Roman', Times, serif;
}

.name:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.uname:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.email:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.password:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.submit:active {
    transform: translateY(2px);
}